<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <button class="btn btn-primary" (click)="open(content)"><i class="fas fa-plus"></i> Agregar</button>
            <hr class="mb-4">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre del ánime</th>
                        <th scope="col">Año de publicación</th>
                        <th scope="col">Fecha de creación del registro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let anime of animes">
                        <td>{{anime.id}}</td>
                        <td>{{anime.nombre}}</td>
                        <td>{{anime.anio}}</td>
                        <td>{{anime.fechaCreacion}}</td>
                        <td><button class="btn btn-success" (click)="cargarAnime(anime, content)"><i class="fas fa-edit"></i> Editar</button></td>
                        <td><button class="btn btn-danger" (click)="mostrarVentanaEliminar(anime)"><i class="fas fa-trash-alt"></i> Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="consultarAnimes()">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="consultarAnimes()">
                    <option [ngValue]="7">7 items por página</option>
                    <option [ngValue]="12">12 items por página</option>
                    <option [ngValue]="15">15 items por página</option>
                </select>
            </div>
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Formulario de registro de animes</h4>
                </div>
                <form #formAnime="ngForm" (ngSubmit)="guardarAnime(formAnime?.value)" novalidate>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="txtNombre">Nombre de anime: *</label>
                            <input type="text" id="txtNombre" name="nombre" class="form-control" [(ngModel)]="anime!.nombre" #nombre="ngModel" required>
                        </div>
                        <div class="form-group">
                            <label for="txtAnioLanzamiento">A&ntilde;o de lanzamiento: *</label>
                            <input type="text" id="txtAnioLanzamiento" name="anio" class="form-control" [(ngModel)]="anime!.anio" #anio="ngModel" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')"><i class="fas fa-times"></i> Cancelar</button>
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</div>